{% extends 'base.html' %}

{% block title %} Movimientos {% endblock %}

{% block content %}
    <div class="title grid">
        <h1 class="title_text">Todos los movimientos</h1>
        <div class="title_button-new">
            <a role="button" href="/compra">Nuevo</a>
        </div>
    </div>

{% if datos|length > 0 %}
    <table>
        <tr>
            <th class="fecha">Fecha</th>
            <th class="hora">Concepto</th>
            <th class="moneda_from">Moneda From</th>
            <th class="moneda_to">Moneda To</th>
            <th class="cantidad_to">Cantidad To</th>
        </tr>
    {% for registro in datos %}
    <tr>
        <td>
            <td>{{ registro['fecha'] }}</td>
            <td>{{ registro['concepto'] }}</td>
        </td>
    </tr>
    <table>
{% else %}
    <p>No hay datos</p>

{% endif %}
{% endblock %}