{% extends 'base.html' %}

{% block title %} Página de testing {% endblock %}

{% block content %}
table class="shop_table cart" cellspacing="0">
    <thead>
        <tr>
            <th class="product-remove">&nbsp;</th>
            <th class="product-thumbnail">&nbsp;</th>
            <th class="product-name">Produkt</th>
            <th class="product-price">Preis</th>
            <th class="product-quantity">Anzahl</th>
            <th class="product-subtotal">Summe</th>
        </tr>
    </thead>
    <tbody>
    ...
    </tbody>
    </table>

    {% endblock %}